        <tr>
		  <th scope="row">{{row}}</th>
		  <td>{{title}}</td>
		  <td>{{year}}</td>
		  <td>{{rating}} &nbsp
			  <button type="button" class="btn btn-danger" >
				<img src="/assets/delete.svg" alt="trash icon">
			    </button>
		  </td>
		</tr>